

:root {

--el-menu-base-level-padding : 30px !important;
--el-menu-hover-bg-color : #{$primary-light} !important ; 
--el-input-border-radius: #{$raduis-base} !important;
--el-upload-size : 160px !important ;
--el-border-radius-round : #{$raduis-base} !important;
// --el-menu-item-height : 22px !important;

}
.el-pagination{
    --el-pagination-border-radius : #{$raduis-base} !important;
    --el-pagination-button-width: 40px !important;
    --el-pagination-button-height: 40px !important;
}





.el-menu{
    .el-menu-item ,.el-sub-menu__title {
        border-radius:$raduis-base ;
        height:$height-input ;
        line-height : 22px !important    }
}

.el-menu--popup , .el-dropdown__popper ,.el-table-filter{
    padding: 1rem !important;
    border-radius: $raduis-base !important;
}

.is-hovering{
    color: $primary !important;
}

.is-error{
    --el-border-color : #{$error} !important;
}

.el-tag.el-tag--info {
    --el-tag-bg-color: #{$primary-light} !important;
    --el-tag-border-color: #{$primary-light} !important;
    --el-tag-hover-color:  #{$primary-light-hover} !important ;
    --el-tag-text-color : #{$primary} !important;
    border-radius  :  $raduis-base !important;
}


// remove aligning 
.el-form-item__label ,.el-select__wrapper{
    text-align: unset !important;
}


