[dir="rtl"] {
    #allTheNav {
        .nav2 {
            left : unset !important ;
            right : 0
        }
    }
    .marginedStart{
        margin-left: unset !important;
        margin-right: 260px !important;
    }
    .collapseMargin{
        margin-left: unset !important ;
        margin-right: 80px !important;
    }
    .vue-tel-input{
        direction: ltr !important;
        .vti__input {
            
            padding-right: 24px;
            direction: rtl;
        }
    }
    // elment-plus
    .el-menu.el-menu-vertical-demo{
        border-left: solid 1px var(--el-menu-border-color);
        padding-left: unset !important;
        padding-right: 5px ;
        .el-menu-item [class^=el-icon] ,.el-sub-menu .el-icon {
            margin-right: unset !important;
            margin-left: 8px !important;
        }
        .el-sub-menu__icon-arrow {
            left:  var(--el-menu-base-level-padding);
            right:  unset !important;
            margin-left: unset !important;
        }
        .el-sub-menu__title{
            padding-left: unset !important;
            padding-right: calc(var(--el-menu-base-level-padding) + var(--el-menu-level)* var(--el-menu-level-padding)) !important;
        }
    }
    .el-checkbox__label{
        padding-right: 8px !important;
        padding-left: unset !important;
    }
    .el-input__prefix-inner > :last-child {
        margin-left: 8px !important;
        margin-right: unset !important;
    }
    .el-table .cell{
        text-align: right;
    }
    .el-upload-list--picture-card .el-upload-list__item{
        margin-left: 8px !important;
        margin-right: unset !important;
    }
    .el-upload-list--picture-card .el-upload-list__item-actions span + span {
        margin-left: unset !important;
        margin-right: 1rem !important;
        .el-icon{
            svg{
                path{
            fill:  white;

                }

            }
        }
    }
      
}
  